thead th {
    text-align: center;
}

tbody td, tfoot th {
    text-align: right;
}

#order_total {
    text-align: right;
}

.order_item_name {
    text-align: left;
}

.order_item_id {
    text-align: center;
}

#select_quantity {
    width: 50px;
}

#select_item {
    width: 225px;
}

.vertical-spacer {
    height: 50px;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
